/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --main-text-color: #f1b2ce;
  --title-shadow-color: #db00ff;
  --text-bg-color: #000028;
  background: url(../images/cover-image-dark.png) no-repeat center / cover;
  background-attachment: fixed;
}

.theme_dark .rec-decor {
  display: block;
}
