/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --main-text-color: #f1b2ce;
  --title-shadow-color: #db00ff;
  --title-color: #ff0070;
  --text-background-color: #000028;
  --background-color: #000028;
  --decorated-zone-color: #ff0070;
  --button-color: #ff0070;
  --button-hover-color: rgb(255, 0, 112, 0.4);
  background: url(../images/cover-image-dark.png) no-repeat center / cover;
  background-attachment: fixed;
}

.theme_dark .rec-decor {
  display: block;
}
