/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ff8dcb;
  --main-text-color: #353430;
  --title-shadow-color: #ffc2e6;
  --title-color: #353430;
  --text-background-color: #353430;
  --background-color: #fff1f7;
  --decorated-zone-color: #353430;
  --button-color: #353430;
  --button-hover-color: rgb(50, 49, 45, 0.4);
  background: url(../images/cover-image-light.png) no-repeat center / cover;
  background-attachment: fixed;
}

.theme_light .rec-decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  .page {
    --accent-color: #ff8dcb;
    --main-text-color: #353430;
    --title-shadow-color: #ffc2e6;
    --title-color: #353430;
    --text-background-color: #353430;
    --background-color: #fff1f7;
    --decorated-zone-color: #353430;
    --button-color: #353430;
    --button-hover-color: rgb(50, 49, 45, 0.4);
    background: url(../images/cover-image-light.png) no-repeat center / cover;
    background-attachment: fixed;
  }
  .rec-decor {
    display: none;
  }
}
