/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

.page {
  font-family: var(--fonts, sans-serif);
  font-size: var(--font-size);
  font-weight: var(--font-weight-text);
  background: url(../images/cover-image-dark.png) no-repeat center / cover;
  background-attachment: fixed;
  color: var(--main-text-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  padding: 10px;
  min-block-size: 668px;
}

.header__theme-menu {
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  justify-content: end;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--button-color);
  text-align: center;
  border: none;
  cursor: pointer;
  text-transform: lowercase;
  padding-inline: 13px;
  line-height: 126%;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.title {
  font-weight: var(--font-weight-title);
  font-size: var(--big-size);
  line-height: 83%;
  color: var(--title-shadow-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title__decor {
  background-color: var(--accent-color);
  color: var(--text-background-color);
}

.header__description {
  align-self: center;
  line-height: 130%;
  font-weight: var(--font-weight-title);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-right: 1px solid var(--decorated-zone-color);
  border-top: 1px solid var(--decorated-zone-color);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-left: 1px solid var(--decorated-zone-color);
  border-bottom: 1px solid var(--decorated-zone-color);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.rec-decor {
  position: absolute;
  inset-inline-end: 10px;
  width: 52px;
  height: 26px;
  text-transform: uppercase;
  color: var(--decorated-zone-color);
  line-height: 139%;
  inset-inline-end: 19px;
  inset-block-start: 10px;
}

.rec-decor::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--decorated-zone-color);
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--decorated-zone-color);
  inset-block-start: 8px;
  inset-inline-start: 42px;
}

/* header media */

@media (hover: hover) {
  .header__theme-menu-button:hover {
    outline: 1px solid var(--button-hover-color);
  }
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .title {
    margin-inline-start: -20px;
    --big-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    inline-size: 50%;
    justify-self: end;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .rec-decor {
    inset-inline-end: 29px;
    inset-block-start: 20px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    grid-auto-flow: column;
    justify-content: center;
  }

  .header__theme-menu {
    align-self: flex-start;
  }
}

/* focus */

.main {
  padding-inline: 10px;
}

.focus {
  padding-block-start: 40px;
}

.focus__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.focus__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.focus__title {
  font-weight: var(--font-weight-title);
  line-height: 130%;
  color: var(--title-color);
  font-size: inherit;
}

.focus__item:last-child .content__title {
  margin-block-end: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__title {
  font-weight: var(--font-weight-title);
  font-size: inherit;
  margin-block-end: 10px;
}

.content__subtitle {
  font-size: inherit;
  font-weight: inherit;
  line-height: 130%;
  margin-block-end: 10px;
}

.content__description {
  line-height: 130%;
  color: var(--main-text-color);
}

.content__description:not(:last-child) {
  margin-block-end: 20px;
}

.content__description_link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.content__description_link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.content__description_link:focus {
  outline: none;
}

.content__description_link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

/* media__focus */

@media (width >= 768px) {
  .main {
    padding-inline: 20px;
  }

  .focus {
    padding-block-start: 60px;
  }

  .focus__list {
    gap: 80px;
  }

  .reduces-concentration > .focus__title {
    width: calc((100% - 40px) / 3);
  }

  .hard-to-concentrate,
  .how-to-concentrate {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

@media (width >= 1024px) {
  .reduces-concentration .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .hard-to-concentrate,
  .how-to-concentrate {
    grid-template-columns: min(314px) 1fr;
  }
}

/* galery */

.gallery {
  padding-block: 50px 40px;
}

.gallery__title {
  margin-block-end: 10px;
  font-weight: var(--font-weight-title);
  font-size: inherit;
  line-height: 130%;
}

.galery__wrapper {
  display: grid;
  gap: 10px;
}

.galery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* media_galery */

@media (width >= 768px) {
  .gallery {
    padding-block: 80px 60px;
  }

  .gallery__title {
    margin-block-end: 20px;
  }

  .galery__wrapper {
    gap: 20px;
  }

  .galery__image-sunset {
    grid-column: 1/3;
  }

  .galery__image-ice-cream {
    grid-column: 3;
    grid-row: 1/3;
  }

  .galery__image-tape {
    grid-row: 2/4;
  }

  .galery__image-street {
    grid-column: 2/4;
  }
}

/* footer */

.footer {
  position: relative;
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  align-self: center;
  justify-self: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* media_footer */

@media (width >= 768px) {
  .footer .title {
    margin: 0;
  }
}
