/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --main-text-color: #f1b2ce;
  --title-shadow-color: #db00ff;
  --text-bg-color: #000028;
  --fonts: "IBM Plex Mono";
  --font-weight-title: 700;
  --font-weight-text: 400;
  --font-size: 18px;
  --big-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  --global-padding: clamp(0.625rem, 0.2639rem + 1.5408vw, 1.25rem);
}
